<form [formGroup]="registerForm">
  <div class="fieldRegistration">
    <div class="value">
      <label>Email</label>
      <input type="email" formControlName="mail"/>
    </div>
    <div class="value">
      <label>password</label>
      <input type="password" formControlName="password"/>
    </div>
    <div class="value">
      <label>confirmPassword</label>
      <input type="email" formControlName="confirmPassword"/>
    </div>
    <div class="value">
      <label>name</label>
      <input type="text" formControlName="name"/>
    </div>
    <div class="value">
      <label>surname</label>
      <input type="text" formControlName="surname"/>
    </div>
  </div>
</form>
