<div class="wrapper">
    <div class="auto-payment">
        <a href="#"><!--заглушка-->
            <!--routerLink="../personal-auto-payments"-->
            <img src="../assets/images/payments-transfers_img/arrow_circle.svg" alt="arrow_circle">
            <div class="text">auto payments and auto transfers</div>
        </a>
    </div>
    <div class="paymentAndTransfers">
        <div class="value value__transfers">
            <div class="text_title">Transfers</div>
            <div class="elements">
                <div class="elements_wrapper" routerLink="../another-client">
                    <img src="../assets/images/payments-transfers_img/fox.svg" alt="fox">
                    <div class="text">
                        <div>Client tbank</div>
                        <div class="min_text">to a card or account</div>
                    </div>
                </div>

                <div class="elements_wrapper elements_wrapper__upArrow" routerLink="../between-account">
                    <img src="../assets/images/payments-transfers_img/up-arrow-svgrepo-com.svg"
                         alt="up-arrow-svgrepo-com" class="imgBetween">
                    <div class="text">
                        <div>Between your accounts</div>
                        <div class="min_text">Inside the bank</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="value value__payments">
            <div class="text_title">Payments</div>
            <div class="elements">
                <div class="elements_wrapper" routerLink="../mobile">
                    <img src="../assets/images/payments-transfers_img/mobile.svg" alt="mobile">
                    <div class="text">
                        Mobile connection
                    </div>
                </div>
                <div class="elements_wrapper">
                    <!--                    заглушка-->
                    <img src="../assets/images/payments-transfers_img/purse.svg" alt="mobile">
                    <div class="text">
                        Repayment of loans
                    </div>
                </div>
                <div class="elements_wrapper">
                    <!--                    заглушка-->
                    <img src="../assets/images/payments-transfers_img/charity.svg" alt="charity">
                    <div class="text">
                        Charity
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
