$sizeHeader: 90px;
$colorHeaFoot: rgba(27, 2, 105, 0.98);

.header {
    min-height: $sizeHeader;
    background-color: $colorHeaFoot;
    padding: 10px 0;

    .title-bar {
        flex-grow: 1;
        display: flex;

        img {
            height: $sizeHeader;
            transform: rotate(90deg) scale(2.55);
        }

        .menu-area {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            margin-right: 30px;
            max-width: 65%;
            margin-left: auto;
            justify-content: space-between;
        }
    }


    .signIn {
        padding: 5px;
        width: 13em;
        font-size: 1em;
        min-width: 7em;
        min-height: 2.5em;
        color: #ecdcdc;
        background-color: rgb(88, 62, 185);
        border-radius: 10px;
        border: rgb(61, 33, 173);
        margin-top: auto;
        margin-right: 0.5em;
    }

    .signIn:last-child {
        background-color: rgb(152, 134, 229);
        color: rgba(21, 1, 73, 0.98);
    }

    .signIn:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
}
