.wrapper {
    max-width: 1000px;
    margin: 3em auto;
    font-size: 25px;

    .auto-payment {
        color: white;

        a {
            color: white;
            display: block;
            position: relative;

            img {
                position: absolute;
                padding-right: 0.5em;
                width: 1em;
                top:0.1em;
                left: 5px;
            }

            .text{
                position: absolute;
                left: 2em;
            }
        }
    }
}
