$sizeHeader: 5rem;
$colorHeaFoot: rgba(27, 2, 105, 0.98);
@import "src/assets/styles/_header-signIn.scss";

.header {
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
    .link {
        padding:0.2em  0.4em;
        font-size: 1.5em;
        font-weight: 500;
        color: black;
        margin-top: auto;
        margin-right: 1.8em;
    }

    .active-link {
        color: rgba(21, 1, 73, 0.98);
        font-weight: 520;
        transition: 2s;
        border-bottom: rgb(27, 2, 105) solid 2px;
    }

    .link:hover {
        transform: scale(1.07);
        transition: 0.5s;
    }

    .link:active{
        transform: scale(0.95);
        transition: 0.5s;
        border-bottom: rgb(27, 2, 105);
    }
}
