@import "src/assets/styles/_header-signIn.scss";

.wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        box-shadow: inset 0px -6px 2.5px -2px rgba(96, 96, 96, 0.13);

        @include _768 {
            z-index: 2;
        }
    }

    .header__body {
        width: 85%;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;

        @include _768 {
            width: 92%;
            height: 3rem;
        }

        .breadcrumb {
            margin-top: auto;
            margin-left: 3rem;
            padding-bottom: 1rem;
            color: #4b4b4b;

            @include _768 {
                position: relative;
                z-index: 3;
                margin-left: 1.4rem;
            }
        }


        .header {

            &__burger {
                display: none;
            }

            &__menu {
                display: flex;
                justify-content: flex-end;
                padding-right: 2em;
                box-shadow: none;

                .header__list {
                    display: flex;
                    margin-right: 1rem;
                    z-index: 2;
                    position: relative;

                    .valueHeader__list {
                        margin: 0 0 0rem 2.2em;
                        font-size: 1.2rem;
                        line-height: 5rem;

                        .header__link {
                            color: black;
                        }

                        &:hover {
                            transform: scale(1.07);
                            transition: 0.5s;
                        }

                        &:active {
                            transform: scale(0.95);
                            transition: 0.5s;
                            border-bottom: rgb(27, 2, 105);
                        }
                    }

                    .active-link {
                        color: rgba(21, 1, 73, 0.98);
                        font-weight: 520;
                        transition: 2s;
                        border-bottom: rgb(27, 2, 105) solid 2px;
                    }
                }
            }

            @include _768 {
                &__burger {
                    display: block;
                    position: relative;
                    width: 30px;
                    height: 20px;
                    z-index: 3;
                    padding: 0;

                    span {
                        background-color: black;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        left: 0;
                        top: 9px;
                        padding: 0;
                        transition: all 0.3s ease 0s;
                    }

                    &:before,
                    &:after {
                        content: '';
                        background-color: black;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        left: 0;
                        padding: 0;
                        transition: all 0.3s ease 0s;
                    }

                    &:before, {
                        top: 0;
                    }

                    &:after {
                        bottom: 0;
                    }
                }

                &__burger.active {
                    span {
                        transform: scale(0);
                    }

                    &:before {
                        transform: rotate(45deg);
                        top: 9px;
                    }

                    &:after {
                        transform: rotate(-45deg);
                        bottom: 9px;
                    }
                }

                &__menu {
                    position: fixed;
                    top: -120%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(155, 153, 153);
                    color: white;
                    padding: 4rem 1rem 0.5em 0;
                    transition: all 0.3s ease 0s;

                    .header__list {
                        width: 100%;
                        display: block;
                        padding-left: 3rem;

                        .valueHeader__list {
                            margin: 0 0 0.8em 0;
                            line-height: 2rem;

                            &:hover {
                                transform: scale(1);
                            }

                            &:active {
                                transform: scale(1);
                                border-bottom: none;
                            }
                        }
                    }
                }

                &__menu.active{
                    top:0;
                }
            }
        }
    }
}

.content {
    width: 85%;
    margin: 0 auto;
    padding: 6rem 0 0 0;

    @include _768 {
        padding: 3rem 0 0 0;
    }
}
