<div class="wrapper">
    <div class="breadcrumb">
        <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
        <ng-template #iconTemplate>
            /
        </ng-template>
    </div>
    <div class="header">
        <a class="link" routerLinkActive="active-link" [routerLink]="['/personal/'+ id +'/personal-main-page']">
            Main
        </a>
        <a class="link" routerLinkActive="active-link"
           [routerLink]="['/personal/'+ id +'/transfer']">Payments and transfers
        </a>
        <a class="link" routerLinkActive="active-link"
           [routerLink]="['/personal/' + id + '/history']">History
        </a>
        <a class="link" routerLinkActive="active-link"
           [routerLink]="['/personal/' + id + '/myArea/private']">Personal Area
        </a>

    </div>
</div>
<p>
    <router-outlet></router-outlet>
</p>

