<div class="wrapper">
    <div class="header__body">
        <div class="breadcrumb">
            <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
            <ng-template #iconTemplate>
                /
            </ng-template>
        </div>
        <div class="header header__burger" (click)="openMenu()" #burger>
            <span></span>
        </div>
        <div class="header header__menu" #menu>
            <ul class="header__list">
                <li class="valueHeader__list">
                    <a class="header__link" routerLinkActive="active-link"
                       [routerLink]="['/personal/'+ id +'/personal-main-page']" (click)="openMenu()">Main</a>
                </li>
                <li class="valueHeader__list">
                    <a class="header__link" routerLinkActive="active-link"
                       [routerLink]="['/personal/'+ id +'/transfer']" (click)="openMenu()">Payments and transfers</a>
                </li>
                <li class="valueHeader__list">
                    <a class="header__link" routerLinkActive="active-link"
                       [routerLink]="['/personal/' + id + '/history']" (click)="openMenu()">History</a>
                </li>
                <li class="valueHeader__list">
                    <a class="header__link" routerLinkActive="active-link"
                       [routerLink]="['/personal/' + id + '/myArea/private']" (click)="openMenu()">Personal Area</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>

