@import "src/assets/styles/path_file.scss";

.wrapper {
    margin: 7rem auto 2rem;
    width: 30%;
    box-shadow: 0px 0px 0.3em 0.2em rgba(75, 75, 75, 0.23);
    padding: 0.8rem 0.2em;

    @include _768 {
        width: 85%;
    }

    .elementText {
        padding: 0.2rem 0.4em;
        color: black;
        margin: 0.2rem auto;
        text-align: center;

        &__delivery {
            font-size: 1.2em;
        }

        &__number {
            font-size: 1.5em;

            img {
                width: 1.45rem;
                margin-top: 0.2em;
                position: relative;
                right: 5px;
                top: 2px;
            }
        }

        &__client {
            font-size: 1em;
            padding-bottom: 0.5em;
        }


    }

    .btn {
        font-size: 1.1em;
        width: 70%;
        margin: 0 auto;
        margin-top:3rem;
        margin-bottom: 0.5em;
        padding: 0.1em;
        background-color: rgba(152, 152, 152, 0.42);
        color: white;
        border: rgba(100, 100, 100, 0.33) 0.05em solid;
        border-radius: 0.4em;
        display: block;

        &:hover {
            background-color: #5e5e5e;
            border-color: #808080;
            transition: 1s;
        }
    }
}
