<div class="container ">
    <input type="radio" name="slider" id="item-1" (click)="toggleClass('item-1')" checked>
    <input type="radio" name="slider" id="item-2" (click)="toggleClass('item-2')">
    <input type="radio" name="slider" id="item-3" (click)="toggleClass('item-3')">
    <div class="cards">
        <label class="card" for="item-1" id="song-1">
            <img src="https://randomfox.ca/images/{{arrayNumberImg[0]}}.jpg" alt="fox image">
        </label>
        <label class="card" for="item-2" id="song-2">
            <img src="https://randomfox.ca/images/{{arrayNumberImg[1]}}.jpg" alt="fox image">
        </label>
        <label class="card" for="item-3" id="song-3">
            <img src="https://randomfox.ca/images/{{arrayNumberImg[2]}}.jpg" alt="fox image">
        </label>
    </div>
    <div class="player">
        <div class="upper-part">
            <div class="play-icon">

            </div>
            <div class="info-area" id="test">
                <label class="song-info" id="song-info-1">
                    <div class="title">Bunker</div>
                    <div class="sub-line">
                        <div class="subtitle">Balthazar</div>
                        <div class="time">4.05</div>
                    </div>
                </label>
                <label class="song-info" id="song-info-2">
                    <div class="title">Words Remain</div>
                    <div class="sub-line">
                        <div class="subtitle">Moderator</div>
                        <div class="time">4.05</div>
                    </div>
                </label>
                <label class="song-info" id="song-info-3">
                    <div class="title">Falling Out</div>
                    <div class="sub-line">
                        <div class="subtitle">Otzeki</div>
                        <div class="time">4.05</div>
                    </div>
                </label>
            </div>
        </div>
        <div class="progress-bar">
            <span class="progress"></span>
        </div>
    </div>
</div>

