<div class="wrapper">
    <div class="box">
        <div id="slide1" #slide>
            <div class="cards" *ngFor="let card of informationNewCard$ | async; let i = index">
                <div class="wrapperCross">
                    <img class="cross" src="../../../../../../../assets/images/payments-transfers_img/cross.svg"
                         alt="cross" routerLink="../">
                </div>
                <div class="content">
                    <div class="imageCard">
                        <img src="https://randomfox.ca/images/{{arrayNumberImg[i]}}.jpg" alt="fox image">
                    </div>
                    <div class="nameService">
                        <div class="value value__name">{{card?.nameCard | titlecase}}</div>
                        <div class="value value__service">{{card?.service}}</div>
                    </div>
                    <div class="elementBuns" *ngFor="let bun of card?.buns">
                        <div class="valueFlex valueFlex__image">
                            <img class="imgBun" src="../../../../../../../{{bun?.img}}" alt="bun img">
                        </div>
                        <div class="valueFlex valueFlex__description">
                            <div class="title">{{bun?.title}}</div>
                            <div class="descriptionTitle">{{bun?.descriptionTitle}}</div>
                        </div>
                    </div>
                </div>
                <div class="btn11">
                    <button class="btn1" (click)="createNewCard(card)">
                        Checkout
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button class="btn" type="button">
        <img class="arrow arrow__left" src="../../../../../../../assets/images/arrow.svg" alt="arrow"
             (click)="prevCard()">
    </button>
    <button class="btn" type="button">
        <img class="arrow arrow__right" src="../../../../../../../assets/images/arrow.svg" alt="arrow"
             (click)="nextCard()">
    </button>
</div>
