<div class="wrapper">
    <div class="translationPath">
        <a class="linkText" disabled>operation selection</a>
        <img class="img_active img__arrow" src="../../../assets/images/arrow.svg" alt="arrow up">
        <a class="linkText" id="filling" disabled>filling details</a>
        <img class="img_active img__arrow" src="../../../assets/images/arrow.svg" alt="arrow up">
        <a class="linkText" id="confirmation" disabled>confirmation</a>
        <img class="img_active img__arrow" src="../../../assets/images/arrow.svg" alt="arrow up">
    </div>
    <router-outlet></router-outlet>
</div>
