<ng-template #skeleton>
    <div class="wrapper_load">
        <skeletone-loading class="loading"></skeletone-loading>
    </div>
</ng-template>
<div class="wrapper" *ngIf="!loading; else skeleton">
    <div *ngFor="let card of cardsHistory.reverse()">
        <button class="btn" (click)="clickCard(card)">
            <div *ngIf="card?.typeTransaction === 'withdrawal'" class="card__wrapper">
                <div class="item item__image">
                    <img src="../../../../../assets/images/images-history/withdrawal.svg" alt="withdrawal img">
                </div>
                <div class="item item__text">
                    <div class="text__nameClient">
                        {{card?.fromWhom}}
                    </div>
                    <div class="text__where smallFont">
                        From a bank card {{card?.interactionWhichAccount?.card?.cardName}}
                    </div>
                </div>
                <div class="item item__money">
                    <div class="sum">
                        -{{card?.transferAmount}} <img class="img__ruble"
                                                       src="../../../../../assets/images/ruble_icon.svg"
                                                       alt="ruble icon">
                    </div>
                    <div class="nameOperations smallFont">
                        Withdrawal
                    </div>
                </div>
            </div>

            <div *ngIf="card?.typeTransaction === 'betweenAccounts'" class="card__wrapper">
                <div class="item item__image">
                    <img src="../../../../../assets/images/images-history/betweenAccounts.svg"
                         alt="betweenAccounts img">
                </div>
                <div class="item item__text">
                    <div class="text__nameClient">
                        Bank transfer between accounts
                    </div>
                    <div class="text__where smallFont">
                        To a savings account {{card?.whatAccountName}}
                    </div>
                </div>
                <div class="item item__money">
                    <div class="sum sum__green">
                        {{card?.transferAmount}}
                        <img class="img__ruble"
                             src="../../../../../assets/images/images-history/ruble_icon__green.svg"
                             alt="ruble icon">
                    </div>
                    <div class="nameOperations smallFont">
                        Between accounts
                    </div>
                </div>
            </div>

            <div *ngIf="card?.typeTransaction === 'fromSomeone'" class="card__wrapper">
                <div class="item item__image">
                    <img src="../../../../../assets/images/images-history/fromSomeone.svg" alt="from Someone img">
                </div>
                <div class="item item__text">
                    <div class="text__nameClient">
                        {{card?.fromWhom}}
                    </div>
                    <div class="text__where smallFont">
                        To a bank card account {{card?.interactionWhichAccount?.card?.cardName}}
                    </div>
                </div>
                <div class="item item__money">
                    <div class="sum sum__green">
                        {{card?.transferAmount}}
                        <img class="img__ruble"
                             src="../../../../../assets/images/images-history/ruble_icon__green.svg"
                             alt="ruble icon">
                    </div>
                    <div class="nameOperations smallFont">
                        Replenishment
                    </div>
                </div>
            </div>
        </button>
        <div class="modal-wrapper" id="modal-1">
            <div class="model">
                <div class="modelBody">
                    <div *ngIf="selectedCard?.typeTransaction === 'fromSomeone'">
                        <button class="btn"><img src="../../../../../assets/images/payments-transfers_img/cross.svg" alt="cross"
                                                 (click)="closeModel()" class="crossImg"></button>
                        <div class="elementModel elementModel__icon">
                            <img src="../../../../../assets/images/images-history/fromSomeone.svg" alt="from Someone">
                        </div>
                        <div class="elementModel elementModel__fromWhom">{{selectedCard?.fromWhom}}</div>
                        <div class="elementModel elementModel__operationName">Replenishment</div>
                        <div class="elementModel elementModel__sum">
                            <div class="sum sum__green">
                                {{selectedCard?.transferAmount}}
                                <img class="img__ruble"
                                     src="../../../../../assets/images/images-history/ruble_icon__green.svg"
                                     alt="ruble icon">
                            </div>
                        </div>
                        <div class="elementModel elementModel__data">
                            <div class="valueData">{{selectedCard?.date | date : 'd.MM.yyyy'}}</div>
                            <div class="valueData">{{selectedCard?.date | date : 'HH:mm'}}</div>
                        </div>
                        <div class="elementModel elementModel__bankCard">
                            <div class="elementCard elementCard__text">
                                <div class="text text__explanation">To the card account</div>
                                <div class="text text__cardName">{{selectedCard?.interactionWhichAccount?.card?.cardName}}</div>
                            </div>
                            <div class="elementCard elementCard__icon">
                                <img class="img__ruble" src="../../../../../assets/images/card-image.png"
                                     alt="ruble icon">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectedCard?.typeTransaction === 'withdrawal'">
                        <button class="btn"><img src="../../../../../assets/images/payments-transfers_img/cross.svg" alt="cross"
                                                 (click)="closeModel()" class="crossImg"></button>
                        <div class="elementModel elementModel__icon">
                            <img src="../../../../../assets/images/images-history/withdrawal.svg" alt="withdrawal">
                        </div>
                        <div class="elementModel elementModel__fromWhom">{{selectedCard?.fromWhom}}</div>
                        <div class="elementModel elementModel__operationName">write-off from the account</div>
                        <div class="elementModel elementModel__sum">
                            <div class="sum sum__green">
                                -{{selectedCard?.transferAmount}}
                                <img class="img__ruble"
                                     src="../../../../../assets/images/ruble_icon.svg"
                                     alt="ruble icon">
                            </div>
                        </div>
                        <div class="elementModel elementModel__data">
                            <div class="valueData">{{selectedCard?.date | date : 'd.MM.yyyy'}}</div>
                            <div class="valueData">{{selectedCard?.date | date : 'HH:mm'}}</div>
                        </div>
                        <div class="elementModel elementModel__bankCard">
                            <div class="elementCard elementCard__text">
                                <div class="text text__explanation">From a bank card</div>
                                <div class="text text__cardName">{{selectedCard?.interactionWhichAccount?.card?.cardName}}</div>
                            </div>
                            <div class="elementCard elementCard__icon">
                                <img class="img__ruble" src="../../../../../assets/images/card-image.png"
                                     alt="ruble icon">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectedCard?.typeTransaction === 'betweenAccounts'">
                        <button class="btn"><img src="../../../../../assets/images/payments-transfers_img/cross.svg" alt="cross"
                                                 (click)="closeModel()" class="crossImg"></button>
                        <div class="elementModel elementModel__icon">
                            <img src="../../../../../assets/images/images-history/betweenAccounts.svg" alt="withdrawal">
                        </div>
                        <div class="elementModel elementModel__fromWhom">between accounts</div>
                        <div class="elementModel elementModel__operationName">
                            <div class="blackText">To "{{selectedCard?.whatAccountName}}"</div>
                            <div>transfers between bank accounts</div>
                        </div>
                        <div class="elementModel elementModel__sum">
                            <div class="sum sum__green">
                                {{selectedCard?.transferAmount}}
                                <img class="img__ruble"
                                     src="../../../../../assets/images/ruble_icon.svg"
                                     alt="ruble icon">
                            </div>
                        </div>
                        <div class="elementModel elementModel__data">
                            <div class="valueData">{{selectedCard?.date | date : 'd.MM.yyyy'}}</div>
                            <div class="valueData">{{selectedCard?.date | date : 'HH:mm'}}</div>
                        </div>
                        <div class="elementModel elementModel__bankCard">
                            <div class="elementCard elementCard__text">
                                <div class="text text__explanation">From a bank card</div>
                                <div class="text text__cardName">{{selectedCard?.interactionWhichAccount?.card?.cardName}}</div>
                            </div>
                            <div class="elementCard elementCard__icon">
                                <img class="img__ruble" src="../../../../../assets/images/card-image.png"
                                     alt="ruble icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modelBackground"></div>
        </div>
    </div>
</div>
