@import "../../../../../assets/styles/path_file";

.wrapper {
    width: 100%;
    min-height: calc(100vh - 5rem);
    font-size: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgba(182, 182, 182, 0.19);
    color: black;

    @include _768 {
        font-size: 1.2em;

        .auto-payment {
            width: 85%;
            margin: 2em auto;
        }
    }

    .auto-payment {
        width: 60%;
        margin: 3em auto;
        color: black;
        position: relative;


        a {
            color: black;
            display: block;

            &:hover {
                opacity: 0.2;
            }

            img {
                position: absolute;
                padding-right: 0.5em;
                width: 1em;
                top: 0.1em;
                left: 5px;
            }

            .text {
                position: absolute;
                left: 2em;
            }
        }
    }

    .paymentAndTransfers {
        padding: 1.8em 1em;
        margin-top: 0.8em;
        background-color: white;
        min-height: 70%;

        img {
            width: 2rem;
            padding-right: 1rem;
            @include _768 {
                width: 1.4rem;
            }
        }

        .imgBetween{
            @include _768 {
               margin-left: 0.6rem;
                margin-right: 0.4rem;
            }
        }

        .value {
            max-width: 60%;
            margin: 0 auto;
            padding: 2rem 1rem 5rem;
            @include _768 {
                max-width: 85%;
                padding: 2rem 1rem 2rem;
            }

            &:hover {
                box-shadow: 5px 0 5px -5px #333,
                -5px 0 5px -5px #333;
            }

            .text_title {
                padding-bottom: 1rem;
                font-weight: bold;

                @include _768 {
                    padding-bottom: 0;
                }
            }

            .elements {
                display: flex;
                justify-content: space-around;
                padding-top: 1rem;

                @include _768 {
                    display: block;
                }

                .elements_wrapper {
                    display: flex;
                    align-content: space-around;
                    padding-right: 1rem;
                    align-items: center;

                    @include _768 {
                        padding-top: 1rem;
                    }

                    &__upArrow img {
                        transform: rotate(90deg);
                        padding-top: 1rem;
                        padding-right: 0;
                    }
                }

                .text {
                    font-size: 0.8em;

                    &:hover {
                        border-bottom: 0.1em solid rgb(27, 2, 105);
                    }

                    .min_text {
                        font-size: 0.8em;
                    }
                }
            }
        }

        .value__transfers {
            border-bottom: 0.1em solid rgba(72, 72, 72, 0.52);
            box-shadow: 0 5px 5px -5px #333;

            @include _768 {
                border-bottom: none;
                box-shadow: none;
            }
        }
    }
}
