<div class="wrapper">
  <div class="signUp">
    sign
  </div>
  <form [formGroup]="login"
        (ngSubmit)="onSubmit()">
    <div class="fieldRegistration">
      <div class="value">
        <label for="email">Email</label>
        <input id="email"
               type="email"
               formControlName="mail"
               tabindex="1"
        />
        <div
          class="helper-text red-text"
          *ngIf="login.get('mail').invalid && login.get('mail').touched"
        >
          <span *ngIf="login.get('mail').errors['required']">Email must not be empty</span>
          <span *ngIf="login.get('mail').errors['email']">Please enter a valid Email</span>
        </div>
      </div>
      <div class="value">
        <label for="password">password</label>
        <input id="password"
               type="password"
               formControlName="password"
               tabindex="2"
        />
        <div
          class="helper-text red-text"
          *ngIf="login.get('password').invalid && login.get('password').touched"
        >
          <span *ngIf="login.get('password').errors['required']">Password must not be empty</span>
        </div>
      </div>
    </div>
    <nav>
      <button
        type="submit"
        class="sign"
        [disabled]="login.invalid"
      >sign
      </button>
      <ul>
        <li routerLink="/admin/register">Register new account</li>
        <li>Forgotten account?</li> <!-- - Заглушка-->
      </ul>
    </nav>
  </form>
</div>

