$colorCards: rgb(152, 134, 229);
$colorHeaFoot: rgba(27, 2, 105, 0.98);

.wrapper {
    color: white;
    margin: 3em;

    .value {
        background-color: $colorCards;
        min-width: 10em;
        height: 7em;
        padding: 0.5em;
        border-bottom: $colorHeaFoot solid 2px;
        color: rgba(9, 1, 45, 0.98);
        font-weight: 500;

        .value__image__container {
            margin-bottom: auto;
            margin-top: auto;
        }

        .bold {
            font-weight: 600;
        }

        .value__container {
            display: flex;
            justify-content: space-between;
        }

        .img__ruble {
            width: 1.2em;
            position: relative;
            right: 5px;
            top: 4px;
        }
    }

    .summary__value {
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: 5px;
    }

    .container {
        background-color: rgba(27, 2, 105, 0.98);
        padding: 1em;
        width: 40%;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0 0 0.5em 0 rgba(16, 0, 63, 0.98);
    }

    .container:not(:first-child) {
        margin-top: 2em;
    }
}


/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
    display: none
}

/* Убираем стандартный маркер Firefox */
details > summary {
    list-style: none;
}

details summary .summary__header {
    margin-bottom: 0.1em;

    .img_active {
        position: relative;
        top: 3px;
        width: 1.1em;
    }

    .img_plus {
        width: 1.4em;
        position: relative;
        top: 5px;
        left: 5px;
    }
}

/* Добавляем собственный маркер для закрытого состояния */
details summary .img__arrow {
    margin-left: 0.5em;
    transition: transform 0.2s;
    will-change: transform;
}


/* Добавляем собственный маркер для открытого состояния */
details[open] .img__arrow {
    transform: rotate(180deg);
}

details[open] summary .hidden {
    display: none;
}

.content__router {
    float: right;
    width: 50%;
    padding: 1em;
    margin: 2em;
}
