<div class="wrapper">
    <div class="exitBtn" routerLink="../">
        <img class="imgCross" src="../assets/images/payments-transfers_img/cross.svg" alt="exit cross">
    </div>
    <form [formGroup]="savingsAccForm"
          (ngSubmit)="onSubmit()">
        <div class="value">
            <label for="name"></label>
            <input
                class="input__value"
                id="name"
                formControlName="name"
                type="text"
                placeholder="Enter the name of the savings account"
            />
        </div>
        <div class="value">
            <label for="endDate"></label>
            <input
                class="input__value"
                id="endDate"
                formControlName="endDate"
                type="date"
                placeholder="Enter the closing date of the savings account"
            />
        </div>
        <div class="value">
            <label for="goalRUB"></label>
            <input
                class="input__value"
                id="goalRUB"
                formControlName="goalRUB"
                type="number"
                placeholder="Enter your goal RUB of the savings account"
            />
        </div>
        <nav>
            <button
                (click)="onSer()"
                [disabled]="savingsAccForm.invalid"
                type="submit"
                class="btn">
                create an account
            </button>
        </nav>
    </form>
</div>
