<div class="wrapper">
    <div class="value">
        <div class="textField">Document date:</div>
        <div class="contentField"> {{date | date : 'd.MM.yyyy'}}</div>
    </div>
    <div class="value">
        <div class="textField">Withdrawal account:</div>
        <div class="contentField">... {{userCard?.cardNumber | slice:-5}} [{{userCard?.cardName}}
            ] {{userCard?.RUB}}</div>
    </div>
    <div class="value">
        <div class="textField">Enrollment account:</div>
        <div class="contentField">
            <select [(ngModel)]="selectedValue">
                <option *ngFor="let account of savingAccounts$ | async" [ngValue]="account">
                    {{account?.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="value">
        <div class="textField">Amount:</div>
        <div class="contentField">
            <form [formGroup]="reactiveForm">
                <input type="number"
                       formControlName="sum"
                >
            </form>
        </div>
    </div>
    <button
        [disabled]="reactiveForm.invalid"
        class="btn"
        (click)="clickConfirmation()"
        routerLink="../confirmation"
    >next step</button>
    <div
        class="helper-text red-text"
        *ngIf="!f['sum'].valid && f['sum'].touched"
    >
        <span *ngIf="f['sum'].errors['required']">Password must not be empty</span>
        <span *ngIf="f['amountValidator'].errors">Insufficient funds on the card</span>
    </div>
</div>
