html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

:host {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #de97bd;
  height: 100vh;
}


.header {
  min-height: 120px;
  background-color: #d16fa3;
  padding: 10px 0;

  .title-bar {
    flex-grow: 1;
    display: flex;

    img {
     height: 120px;
     transform: rotate(90deg) scale(2.2);
    }

    .menu-area {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-right: 20px;

    }
  }
}

.content {
  flex: 1 1 auto;
}

.footer {
  min-height: 30px;
  background-color: #d16fa3;
}


