* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.notification-container {
    position: sticky;
    margin-top: 6rem;
    right: 4rem;
    width: 20rem;
    z-index: 100;
    float: right;
    color: white;
    background: #560404;
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-align: center;
}
