@import "../../../assets/styles/path_file";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.notification-container {
    position: sticky;
    margin-top: 6rem;
    right: 4rem;
    width: 20rem;
    z-index: 100;
    float: right;
    color: white;
    background: #560404;
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-align: center;

    @include _480 {
        margin-top: 1rem;
        right: 1rem;
        width: 18rem;
        padding: 0.5rem 1rem;
    }
}
