$sizeHeader: 70px;
$colorHeaFoot: rgba(27, 2, 105, 0.98);

.header {
    min-height: $sizeHeader;
    //background-color: $colorHeaFoot;
    padding: 10px 0;
    box-shadow: inset 0px -6px 1px -3px rgba(224, 224, 224, 0.3);

    //.title-bar {
    //    flex-grow: 1;
    //    display: flex;

    //img {
    //    height: $sizeHeader;
    //    transform: rotate(90deg) scale(2.55);
    //}
    //
    //.menu-area {
    //    display: flex;
    //    flex-direction: column;
    //    flex-grow: 1;
    //    padding-right: 20px;
    //
    //}



    .signIn {
        position: absolute;
        right: 4em;
        top: 1.5em;
        font-size: 1.7em;
        font-weight: 500;
        color: black;
        border-radius: 10px;
        //border: rgb(61, 33, 173);
        //background-color: rgb(88, 62, 185);;
        //color: #ecdcdc;
    }

    .signIn:hover {
        transform: scale(1.01);
        transition: 0.5s;
    }
}

