@import "../../../../../../assets/styles/path_file";

.wrapper {
    width: 50%;
    margin: 1.5rem auto;

    @include _768 {
        width: 95%;

        .text{
            font-size: 1em;
        }

        .btn{
            width: 75%;
        }
    }

    .text{
        font-size: 1.4em;
        text-align: start;

        i{
            font-weight: 600;
        }
    }
}
