<div class="wrapper">
    <div class="text">
        Money has been transferred to your savings account <i>{{nameSavAccount}}</i>. Check how much is left to reach
        your
        goal on the main page.
    </div>
    <spa-middle-button text="Return to the homepage."
                       (btnClick)="voidFunctions()"
                       [isDisabled]="false"
                       setWidthStyle="60%"
                       [routerLink]="['/personal/', idUser, 'personal-main-page']"
    ></spa-middle-button>
    <button class="btn" [routerLink]="['/personal/', idUser, 'personal-main-page']">
        Return to the homepage.
    </button>
</div>
