.wrapper {
    margin: 4rem auto;

    .btn {
        background-color: white;
        border: none;
        margin: 0 auto;
        display: block;
        min-width: 50%;
        margin-left: 20%;
    }

    .card__wrapper {
        display: flex;
        padding: 3em;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        border-bottom: rgba(51, 51, 51, 0.23) solid 1px;
        font-size: 1.3em;

        .item {
            padding-right: 3em;

            &__image {
                width: 3em;
            }

            &__money {
                font-weight: 600;

                .img__ruble {
                    width: 1.1em;
                    position: relative;
                    right: 5px;
                    top: 4px;
                }

                .sum {

                    &__green {
                        color: green;
                    }
                }
            }

            .smallFont {
                color: #333333;
                font-size: 0.7em;
                font-weight: 400;
                padding-top: 0.1em;
            }
        }
    }

    .modal-wrapper {
        display: none;

        .modelBackground {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: black;
            opacity: 0.4;
            z-index: 900;
        }

        .model {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            z-index: 1000;
            overflow: auto;

            .modelBody {
                margin: 5rem auto;
                max-width: 32%;
                background-color: white;
                padding-bottom: 1.3rem;

                .btn {
                    border: none;
                    float: right;
                }

                .crossImg {
                    float: right;
                    height: 1.3em;
                    padding: 0.7em;
                }

                .elementModel {
                    margin: 0 auto;
                    padding: 0.7rem;

                    &__icon {
                        width: 3em;
                    }

                    &__fromWhom {
                        font-weight: 600;
                        font-size: 1.4em;
                        text-align: center;
                    }

                    &__operationName {
                        font-size: 0.85rem;
                        color: rgba(75, 75, 75, 0.75);
                        text-align: center;
                    }

                    &__sum {
                        font-size: 1.5em;
                        text-align: center;

                        &__green {
                            color: green;
                        }

                        .img__ruble {
                            width: 1.1em;
                            position: relative;
                            right: 5px;
                            top: 4px;
                        }
                    }

                    &__data {
                        display: flex;
                        justify-content: space-between;
                        color: rgba(75, 75, 75, 0.75);
                        font-size: 0.8em;
                        padding: 0 1rem;
                        padding-bottom: 0.2em;
                        border-bottom: 1px solid rgba(75, 75, 75, 0.15);
                    }

                    &__bankCard {
                        margin: 1rem;
                        box-shadow: 0px 7px 10px -5px #6c6c6c;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1em 1.5em;

                        .elementCard {
                            &__text {
                                .text {
                                    &__explanation {
                                        font-size: 0.85em;
                                        color: rgba(75, 75, 75, 0.75);
                                    }

                                    &__cardName {
                                        font-weight: 600;
                                        font-size: 1.1em;
                                        padding-top: 0.2em;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .blackText {
                color: black;
            }
        }
    }
}

.loading {
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    font-weight: 500;
    color: #080023;
    position: absolute;
    top: 40%;
    left: 45%;
}
