$colorCards: rgba(182, 182, 182, 0.19);
$colorHeaFoot: rgba(107, 102, 102, 0.08);

.loading {
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    font-weight: 500;
    color: #080023;
    position: absolute;
    top: 40%;
    left: 45%;
}

.wrapper {
    color: black;
    margin: 3em;

    .value {
        background-color: $colorCards;
        min-width: 10em;
        height: 7em;
        padding: 0.5em 1.5em;
        border-bottom: $colorHeaFoot solid 2px;
        color: rgba(9, 1, 45, 0.98);
        font-weight: 500;

        .value__image__container {
            margin-bottom: auto;
            margin-top: auto;
        }

        .bold {
            font-weight: 600;
        }

        .value__container {
            display: flex;
            justify-content: space-between;
        }

        .img__ruble {
            width: 1.2em;
            position: relative;
            right: 5px;
            top: 4px;
        }
    }

    .summary__value {
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: 5px;
    }

    .container {
        //background-color: rgba(27, 2, 105, 0.98);
        padding: 1em;
        width: 40%;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0 0 0.2em 0.2em rgba(119, 119, 119, 0.26);

        .summary__header {
            font-size: 1.1em;
            font-weight: 600;
        }
    }

    .container:not(:first-child) {
        margin-top: 2em;
    }

    .fox_image {
        width: 50px;
    }

    .value_endDate {
        margin-top: 5px;
    }

    .explanation {
        display: block;
        width: 39%;
        letter-spacing: 0.08em;
        line-height: 1.1em;
        background-color: $colorCards;
        margin-top: 2rem;
        padding: 0.5em 1.5em;
        border-bottom: $colorHeaFoot solid 2px;
        color: rgba(9, 1, 45, 0.98);
        font-weight: 600;
    }
}


/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
    display: none
}

/* Убираем стандартный маркер Firefox */
details > summary {
    list-style: none;
}

details summary .summary__header {
    margin-bottom: 0.1em;

    .img_active {
        position: relative;
        top: 3px;
        width: 1.1em;
    }

    .img_plus {
        width: 1.4em;
        position: relative;
        top: 5px;
        left: 5px;
    }

    .img_question {
        width: 1.5em;
        float: right;
        padding-right: 0.5em;
    }
}

/* Добавляем собственный маркер для закрытого состояния */
details summary .img__arrow {
    margin-left: 0.5em;
    transition: transform 0.2s;
    will-change: transform;
}


/* Добавляем собственный маркер для открытого состояния */
details[open] .img__arrow {
    transform: rotate(180deg);
}

details[open] summary .hidden {
    display: none;
}

.content__router {
    float: right;
    width: 50%;
    padding: 1em;
    margin: 2em;
}
