$colorCards: rgba(182, 182, 182, 0.19);
$colorHeaFoot: rgba(107, 102, 102, 0.08);
@import "../../../../../assets/styles/path_file";


.wrapper {
    color: black;
    margin: 3em;

    .green{
        background-color: rgba(3, 192, 3, 0.51);
    }

    .yelow{
        background-color: rgba(197, 197, 0, 0.5);
    }

    .red{
        background-color: rgba(199, 0, 0, 0.49);
    }

    .crossDiv{
        width: 100%;
        button{
            display: block;
            margin-left: auto;
            background-color: rgba(199, 0, 0, 0.49);
        }

        img{
            width: 1rem;
            display: block;
            margin-left: auto;
        }
    }

    .value {
        background-color: $colorCards;
        min-width: 10em;
        height: 7em;
        padding: 0.5em 1.5em;
        border-bottom: $colorHeaFoot solid 2px;
        color: rgba(9, 1, 45, 0.98);
        font-weight: 500;

        .value__image__container {
            margin-bottom: auto;
            margin-top: auto;
        }

        .bold {
            font-weight: 600;
        }

        .value__container {
            display: flex;
            justify-content: space-between;
        }

        .img__ruble {
            width: 1.2em;
            position: relative;
            right: 5px;
            top: 4px;
        }

        @include _480 {
            padding: 0.2em 0.5em;
            height: 2.5em;

            .img__ruble {
                width: 1.2em;
            }

            img {
                display: none;
            }
        }
    }

    .summary__value {
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: 5px;

        @include _480 {
            display: block;
            padding: 2em 1em;
        }
    }

    .container {
        padding: 1em;
        width: 40%;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0 0 0.2em 0.2em rgba(119, 119, 119, 0.26);

        .summary__header {
            font-size: 1.1em;
            font-weight: 600;
        }

        @include _768 {
            width: 85%;

            summary {
                margin: auto;
            }

            .summary__header {
                font-size: 0.8em;
            }
        }
    }

    .container:not(:first-child) {
        margin-top: 1em;
    }

    .fox_image {
        width: 50px;
    }

    .value_endDate {
        margin-top: 5px;
    }

    .explanation {
        display: block;
        width: 39%;
        letter-spacing: 0.08em;
        line-height: 1.1em;
        background-color: $colorCards;
        margin-top: 2rem;
        padding: 0.5em 1.5em;
        border-bottom: $colorHeaFoot solid 2px;
        color: rgba(9, 1, 45, 0.98);
        font-weight: 600;
        @include _480 {
            width: 85%;
            font-weight: 500;
        }
    }
}


/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
    display: none
}

/* Убираем стандартный маркер Firefox */
details > summary {
    list-style: none;
}

details summary .summary__header {
    margin-bottom: 0.1em;


    .img_active {
        position: relative;
        top: 3px;
        width: 1.1em;
    }

    .img_plus {
        width: 1.4em;
        position: relative;
        top: 5px;
        left: 5px;
    }

    .img_question {
        width: 1.5em;
        float: right;
        padding-right: 0.5em;
    }
}

/* Добавляем собственный маркер для закрытого состояния */
details summary .img__arrow {
    margin-left: 0.5em;
    transition: transform 0.2s;
    will-change: transform;
}


/* Добавляем собственный маркер для открытого состояния */
details[open] .img__arrow {
    transform: rotate(180deg);
}

details[open] summary .hidden {
    display: none;
}

.content__router {
    padding: 1em;
    margin: 0.2em;
}

.summary__header{
    line-height: 2.2rem;
}
