<div class="wrapper" (click)="handleClick($event)">
    <div class="title">Choose the card to transfer your money to:</div>
    <div class="wrapperSelect">
        <select [(ngModel)]="selectedCard" class="select">
            <option *ngFor="let cards of cardUser$ | async" [ngValue]="cards">
                ... {{cards?.cardNumber | slice:-5}} [{{cards?.cardName}}
                ] {{cards?.RUB}}
            </option>
        </select>
    </div>
    <spa-middle-button text="Close savings account."
                       (btnClick)="sendOnServer()"
                       [isDisabled]="false"
                       setWidthStyle="60%"
    ></spa-middle-button>
</div>
