@import "../../../../../../assets/styles/path_file";

.wrapper {
    margin: 7rem auto 2rem;
    width: 30%;
    box-shadow: 0px 0px 0.3em 0.2em rgba(75, 75, 75, 0.23);
    padding-top: 0.5rem;

    @include _768 {
        width: 85%;
    }

    .element {
        padding: 0.5rem;
        color: black;
        margin: 0.2rem 0;

        &__title {
            display: flex;
            align-items: center;
            margin: 0 2rem;

            img {
                transform: rotate(-90deg);
                padding-bottom: 2em;
            }

            .valueContent {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__sum {
            margin-left: 3em;

            .sum__text {
                padding-bottom: 0.2em;
            }

            input {
                font-size: 1em;
                border-bottom: 1px black solid;
                width: 100%;
            }

            input[type="number"] {
                padding: 0.1em;
            }
        }

        &__logic {
            background-color: rgba(182, 182, 182, 0.55);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 12rem;

            .value {

                &__cardUser {
                    display: flex;
                    flex-direction: column;

                    .writeAccount__text {
                        padding-left: 2em;
                        padding-bottom: 0.1em;
                        font-size: 1.2em;
                    }

                    .writeAccount {
                        padding-left: 0.5em;
                        display: flex;
                        align-items: center;

                        img {
                            height: 2.35rem;
                            margin-right: 0.3em;
                        }

                        select {
                            width: 100%;
                            font-size: 1.2em;
                        }
                    }
                }

                &__bottom {
                    padding: 0.1rem;

                    button {
                        background-color: #696969;
                        width: 100%;
                        padding: 0.35em;
                        border: #4b4b4b 1px solid;
                        border-radius: 3px;
                        color: white;
                    }

                    button[disabled] {
                        opacity: 0.5;
                    }

                    .red-text {
                        color: #f34f4f;
                        font-size: 0.98em;
                    }
                }
            }
        }
    }
}
